# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# ML / Models / Checkpoints
# =========================
*.pt
*.pth
checkpoints/
trocr_finetuned/
corrector_model/

# =========================
# Data & Outputs
# =========================
data/
debug_images/
annotated_output/
prescription_output.csv

# =========================
# Cache
# =========================
vocab_cache/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets (IMPORTANT)
# =========================
kaggle.json
gspread_key.json
*.key
*.pem

# =========================
# Jupyter (optional)
# =========================
.ipynb_checkpoints/
